article {
    background-color: grey;
    
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;

    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    
}


article > h3{
    color: #eee;
}


form{
    display: flex;
    justify-content: space-between;
}

form > img{
    width: 300px;
    height: 250px;
}

fieldset {
    justify-content: end;
    border: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

fieldset > input{
    padding: 1em;
    width: 8em;
    
}

.titreReseau{
    text-align: center;
}

.buttonMachine{
    background-color: azure;
}

.buttonMachine:hover{
    background-color: #eee;
    /* position: relative;
    top: -20px;
    height: 600px; */
}

.conteneurBouton{
    margin-left: 20%;
    margin-right: 20%;
}

.machine:hover{
    background-color: #999;
}

a{
    text-decoration: none;

}


/* Règle CSS pour le menu de création de réseau et de machine */
#menuCreation{
    position: fixed;
    margin:0 auto; /* Met les marges de top et bottom à zéro*/
    width: 56%;
    height: 70%;
    z-index: 100;
    top: 15%;
    left: 20%;
    overflow-y: auto;
}


#horsMenuCreation{
    height: 100%; 
    overflow: hidden;
}

#buttonQuitterMenu{
    background: #ccc;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    height: min-content;
}

#menuCreation > header{
    display: grid;
    grid-template-columns: 10fr 0.5fr;
}


#menuCreation > header > h2{
    text-align: center;
    position: relative;
    left: 2em;
    display: inline;
}


.titreMenu{
    text-transform: uppercase;
}

.questionMenuCreation{
    margin-bottom: 1.5em;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.questionAPI{
    padding-left: 1.5em;
}

.buttonCreationMachineAPI{
    margin-top: 2em;
}